@model IEnumerable<WorkShop.Models.Orders>
@{
    ViewBag.Title = "Index";
}
<h2>Index</h2>
<p>
    @Html.ActionLink("新增訂單", "OrderInsert", "Order")
</p>
<table class="table table-bordered" id="kendoGrid"></table>
<script>
    $(document).ready(function () {
        $.ajax({
            url: "OrderSearch",
            type: 'get',
            success: function (response) {
                $.each(response, function (index, value) {
                    if (response[index].OrderDate != null) {
                        var orderDate = new Date(parseInt(response[index].OrderDate.substr(6)));
                        response[index].OrderDate = orderDate.format("yyyy-mm-dd HH:MM:ss");
                    }
                    if (response[index].RequiredDate != null) {
                        var requiredDate = new Date(parseInt(response[index].RequiredDate.substr(6)));
                        response[index].RequiredDate = requiredDate.format("yyyy-mm-dd HH:MM:ss");
                    }
                    if (response[index].ShippedDate != null) {
                        var shippedDate = new Date(parseInt(response[index].ShippedDate.substr(6)));
                        response[index].ShippedDate = shippedDate.format("yyyy-mm-dd HH:MM:ss");
                    }
                    
                });
                $("#kendoGrid").kendoGrid({
                    dataSource: {
                        type: "json",
                        data: response
                    },
                    height: 550,
                    pageSize: 20,
                    pageable: {
                        pageSizes: true
                    },
                    sortable: true,
                    reorderable: true,
                    resizable: true,
                    pageable: true,
                    columns: [{
                        field: "OrderID",
                        title: "訂單編號"
                    }, {
                        field: "OrderDate",
                        title: "訂單日期"
                    }, {
                        field: "RequiredDate",
                        title: "需要日期"
                    }, {
                        field: "ShippedDate",
                        title: "運輸日期"
                    }]
                })
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.status);
                alert(thrownError);
            }
        })
    });
</script>