@model IEnumerable<WorkShop.Models.Orders>
@{
    ViewBag.Title = "Index";
}
<h2>Index</h2>
<p>
    @Html.ActionLink("新增訂單", "OrderInsert", null, new { @class = "btn btn-info" })
    @Html.ActionLink("查詢訂單資訊", "OrderSearch", null, new { @class = "btn btn-info" })
</p>
<table class="table table-bordered" id="kendoGrid"></table>
<script>
    $(document).ready(function () {
        $.ajax({
            url: '@Url.Action("OrderSearch","Order")',
            type: 'get',
            success: function (response) {
                /*$.each(response, function (index, value) {
                    if (response[index].OrderDate != null) {
                        var orderDate = new Date(parseInt(response[index].OrderDate.substr(6)));
                        response[index].OrderDate = orderDate.format("yyyy-mm-dd HH:MM:ss");
                    }
                    if (response[index].RequiredDate != null) {
                        var requiredDate = new Date(parseInt(response[index].RequiredDate.substr(6)));
                        response[index].RequiredDate = requiredDate.format("yyyy-mm-dd HH:MM:ss");
                    }
                    if (response[index].ShippedDate != null) {
                        var shippedDate = new Date(parseInt(response[index].ShippedDate.substr(6)));
                        response[index].ShippedDate = shippedDate.format("yyyy-mm-dd HH:MM:ss");
                    }
                });*/
                $("#kendoGrid").kendoGrid({
                    dataSource: {
                        type: "json",
                        data: response,
                          pageSize: 20
                    },
                    height: 550,
                    pageable: {
                        pageSizes: true
                    },
                    sortable: true,
                    reorderable: true,
                    resizable: true,
                    pageable: true,
                    columns: [{
                        field: "OrderID",
                        title: "訂單編號"
                    }, {
                        field: "OrderDate",
                        title: "訂單日期",
                        template: "#= kendo.toString(kendo.parseDate(OrderDate, 'yyyy-MM-dd'), 'MM/dd/yyyy') #"
                    }, {
                        field: "RequiredDate",
                        title: "需要日期",
                        template: "#= kendo.toString(kendo.parseDate(RequiredDate, 'yyyy-MM-dd'), 'MM/dd/yyyy') #"
                    }, {
                        field: "ShippedDate",
                        title: "運輸日期",
                        template: "#= kendo.toString(kendo.parseDate(ShippedDate, 'yyyy-MM-dd'), 'MM/dd/yyyy') #"
                    }, {
                        command: [
                            {
                                name: "編輯",
                                click: function (e) {
                                    e.preventDefault();
                                    // e.target is the DOM element representing the button
                                    var tr = $(e.target).closest("tr"); // get the current table row (tr)
                                    // get the data bound to the current table row
                                    var data = this.dataItem(tr);
                                    console.log(data.OrderID);
                                }
                            },
                            {
                                name: "刪除",
                                click: function (e) {
                                    e.preventDefault();
                                    // e.target is the DOM element representing the button
                                    var tr = $(e.target).closest("tr"); // get the current table row (tr)
                                    // get the data bound to the current table row
                                    var data = this.dataItem(tr);
                                    console.log(data.OrderID);
                                }
                            }
                        ]
                    }]
                })
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.status);
                alert(thrownError);
            }
        })
    });
</script>